body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px; /* Учитываем фиксированный тулбар */
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
    text-align: left;
    width: 100%;
    max-width: 300px;
}

input, select {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 330px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #5cb85c;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
}

button:hover {
    background-color: #4cae4c;
}

p {
    margin-top: 15px;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Добавим стили для вывода сообщений */
.flashes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flash {
    background-color: #f8d7da; /* светлый фон для ошибок */
    color: #721c24; /* темный красный цвет для текста */
    border: 1px solid #f5c6cb; /* красная рамка */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.flash.success {
    background-color: #d4edda; /* зеленый фон для успеха */
    color: #155724; /* темно-зеленый для текста */
    border: 1px solid #c3e6cb; /* зеленая рамка */
}

.flash.info {
    background-color: #d1ecf1; /* голубой фон для информации */
    color: #0c5460; /* темно-голубой для текста */
    border: 1px solid #bee5eb; /* голубая рамка */
}

.flash.warning {
    background-color: #fff3cd; /* желтый фон для предупреждений */
    color: #856404; /* темно-желтый для текста */
    border: 1px solid #ffeeba; /* желтая рамка */
}

/* Для кнопки закрытия */
.flash button {
    background: none;
    border: none;
    color: inherit;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

.flash button:hover {
    color: #555;
}

.flash.success button {
    color: #155724;
}

.flash.info button {
    color: #0c5460;
}

.flash.warning button {
    color: #856404;
}
