body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px; /* Учитываем фиксированный тулбар */
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
    text-align: left;
    width: 100%;
    max-width: 300px;
}

input, select {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 330px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #5cb85c;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
}

button:hover {
    background-color: #4cae4c;
}

p {
    margin-top: 15px;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}