<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
    <link rel="stylesheet" href="/static/css/toolbar.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <div class="toolbar">
        <div class="logo"><a href="/">Arsenio-Bank</a></div>
        <div class="auth-links">
            {% if session['username'] %}
                <a href="/profile">Профиль</a>
                {% if session['role'] == 'admin' %}
                    <a href="/admin">Админ панель</a>
                    <a href="/status">Кредиты на рассмотрение</a>
                    <a href="/payments">Рассмотрение выплат по кредиту</a>
                {% endif %}
                {% if session['role'] == 'user' %}
                    <a href="/apply_credit">Взять кредит</a>
                    <a href="/make_payment">Выплатить кредит</a>
                {% endif %}
                <a href="/logout">Выйти</a>
            {% else %}
                <a href="/login">Войти</a>
                <a href="/register">Регистрация</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <h1>Админ панель</h1>
        <div class="button-container">
            <a href="{{ url_for('view_table', table_name='credit') }}" class="button">Кредит</a>
            <a href="{{ url_for('view_table', table_name='loan_repayments') }}" class="button">Выплаты</a>
            <a href="{{ url_for('view_table', table_name='client') }}" class="button">Клиенты</a>
            <a href="{{ url_for('view_table', table_name='credit_history') }}" class="button">Кредитная история</a>
            <a href="{{ url_for('view_table', table_name='credit_products') }}" class="button">Кредитный продукт</a>
            <a href="{{ url_for('view_table', table_name='users') }}" class="button">Пользователи</a>

            <div class="break"></div>

            <a href="{{ url_for('report1') }}" class="button">Отчет 1</a>
            <a href="{{ url_for('report2') }}" class="button">Отчет 2</a>
            <a href="{{ url_for('report3') }}" class="button">Отчет 3</a>
            <a href="{{ url_for('procedure') }}" class="button">Процедура</a>
        </div>
    </div>
</body>
</html>
